[submodule "zsh/plugins/direnv"]
	path = zsh/plugins/direnv
	url = https://github.com/direnv/direnv.git
[submodule "zsh/plugins/zshmarks"]
	path = zsh/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks.git
