[submodule "zsh/plugins/antigen"]
	path = zsh/plugins/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/themes/spaceship-prompt"]
	path = zsh/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/plugins/direnv"]
	path = zsh/plugins/direnv
	url = https://github.com/direnv/direnv.git
[submodule "zsh/plugins/alias-tips"]
	path = zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "zsh/plugins/zshmarks"]
	path = zsh/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks.git
[submodule "zsh/plugins/url-highlighter"]
	path = zsh/plugins/url-highlighter
	url = https://github.com/ascii-soup/zsh-url-highlighter.git
