<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFArchiveActionPlugin</key>
	<true/>
	<key>XtraFinder_XFArchiveActionPlugin_RecentFolders</key>
	<array>
		<string>file:///Users/joaquin/projects/codecommit/teamgs/nomad-custom/</string>
		<string>file:///Volumes/joaquin/projects/codecommit/vibrant/cms-old/Source/Vibrant.Framework/</string>
	</array>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<false/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBackAndSelectPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin_SecondaryTextColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg21Buz6D/T+7PoPOQLs+AYY=
	</data>
	<key>XtraFinder_XFBrowserViewColorPlugin_TextColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg5qKHj+DY4keP4MTih4/AYY=
	</data>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyQueuePlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyToActionPlugin_RecentFolders</key>
	<array>
		<string>file:///Users/joaquin/projects/github.com/Joaquin6/elastic-net-example/</string>
		<string>file:///Volumes/joaquin/projects/codecommit/vibrant/cms/Source/</string>
		<string>file:///Users/joaquin/projects/codecommit/vibrant/nomad/source/adobe-cep/com.nomad-cms.nomad-search.adobe-cep.panel/assets/icons/</string>
		<string>file:///Users/joaquin/projects/codecommit/vibrant/nomad/source/adobe-cep/com.nomad-cms.nomad-search.adobe-cep.panel/jsx/libraries/</string>
		<string>file:///Users/joaquin/projects/codecommit/vibrant/nomad/source/adobe-cep/com.nomad-cms.nomad-search.adobe-cep.panel/jsx/</string>
		<string>file:///Users/joaquin/projects/codecommit/vibrant/nomad/</string>
		<string>file:///Volumes/WD%20MY%20BOOK/</string>
		<string>file:///Users/joaquin/Dropbox/</string>
		<string>file:///Users/joaquin/projects/tmp/local-samba/content/joaquin/</string>
		<string>file:///Users/joaquin/projects/github.com/awslabs/aws-media-services-application-mapper/</string>
	</array>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDockMenuService</key>
	<true/>
	<key>XtraFinder_XFDockProgressPlugin</key>
	<true/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<false/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDesktopActionPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFLaunchAsRootActionPlugin</key>
	<true/>
	<key>XtraFinder_XFMakeSymbolicLinkActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFOpenInNewWindowPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<false/>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_FillAvailableSpace</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_HotBrowser_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ResoteLastClosedWindowWhenClickingDockIcon</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>155</real>
	<key>XtraFinder_XFTabPlugin_TabStyle</key>
	<integer>1</integer>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>charactersIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTextShadowPlugin</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<true/>
	<key>XtraFinder_XFWorkspaceActionPlugin</key>
	<true/>
	<key>XtraFinder_XFWorkspaceActionPlugin_Workspaces_TabPlugin</key>
	<dict>
		<key>Adobe CEP</key>
		<array>
			<dict>
				<key>Frame</key>
				<string>{{-1080, -334}, {1080, 923}}</string>
				<key>SelectedTabIndex</key>
				<integer>2</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/projects/github.com/Adobe-CEP/CEP-Resources/ExtendScript-Toolkit/</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>x-applefinder-vnode:Recents</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/projects/github.com/Adobe-CEP/CEP-Resources/CEP_9.x/Samples/</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Frame</key>
				<string>{{-1080, 590}, {1080, 924}}</string>
				<key>SelectedTabIndex</key>
				<integer>1</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/Library/Application%20Support/Adobe/CEP/extensions/PProPanel/CSXS/</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/Library/Caches/CSXS/cep_cache/</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Adobe Cache &amp; Extensions</key>
		<array>
			<dict>
				<key>Frame</key>
				<string>{{-1081, 588}, {1080, 924}}</string>
				<key>SelectedTabIndex</key>
				<integer>0</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/Library/Caches/CSXS/cep_cache/</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>file:///Library/Application%20Support/Adobe/CEP/extensions/</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Adobe Cache, Extensions &amp; Logs</key>
		<array>
			<dict>
				<key>Frame</key>
				<string>{{-1081, 588}, {1080, 924}}</string>
				<key>SelectedTabIndex</key>
				<integer>2</integer>
				<key>Tabs</key>
				<array>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/Library/Caches/CSXS/cep_cache/PPRO_14.0.0_com.nomad-cms.nomad-search.adobe-cep.panel/</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>file:///Library/Application%20Support/Adobe/CEP/extensions/com.nomad-cms.nomad-search.adobe-cep/</string>
					</dict>
					<dict>
						<key>TargetURL</key>
						<string>file:///Users/joaquin/Library/Logs/CSXS/</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
